body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p{
    font-family: inherit;
}

a{
    text-decoration: none !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control, .btn{
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }    
}

.under-line{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ddd;
}

nav{
    padding-top: 3rem !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .3);
    border: 0;
}

.text{
    &-ellipsis{
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
}


.no{
    &-border{
        border: 0 !important;
    }
    &-shadow{
        box-shadow: none;
    }
    &-border-radius{
        border-radius: 0;
    } 
}

a{
    &.no-underline{
        text-decoration: none !important;
        color: inherit;
    }
}

.card{
    border-radius: 2px;
}

.font{
    &-lg{
        font-size: 2rem;   
    }
    &-md{
        font-size: 1.5rem;   
    }
    &-sm{
        font-size: 1rem;   
    }
}

.btn{
    font-size: 1rem;
    &-sm{
        font-size: 0.8rem;
    }
}

.border{
    &-radius-2px{
        border-radius: 2px;
    }
}

select{
    &.text-center{
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
         
    }
}

.slider-container{
    input{
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: .5rem; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        border-radius: 2px;
        &:hover{
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 1rem; /* Set a specific slider handle width */
            height: 1rem; /* Slider handle height */
            background-color: $primary; /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 50%;
        }
        &::-moz-range-thumb {
            width: 1rem; /* Set a specific slider handle width */
            height: 1rem; /* Slider handle height */
            background-color: $primary; /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 50%;
        }
    }
}